* {
    box-sizing: border-box;
}

body {
    background-color: #445760;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.task-item {
    display: flex;
}